---
import AccountDropdown from "./AccountDropdown";
import DesktopTabs from "./DesktopTabs";

interface Props {
    email?: string;
    userName?: string;
}

const { email, userName } = Astro.props;
---

<div class="flex justify-center items-center bg-gray-900 border-b border-gray-800">
    <nav class="w-full max-w-main flex py-3 px-4 md:px-2">
        <div class="flex-1">
            <a class="block max-w-max py-1" href="/">&#91;nvi&#93;</a>
        </div>
        <div>
            <AccountDropdown client:load email={email} userName={userName} />
        </div>
    </nav>
</div>
<div class="hidden md:flex md:justify-center md:items-center -mb-2.5">
    <nav class="w-full max-w-main flex h-12 py-1">
        <DesktopTabs client:load />
    </nav>
</div>
