---
const sessionToken = Astro.cookies.get("SESSION_TOKEN");
const NAVLINKS = !sessionToken?.boolean()
    ? [
          { title: "About", href: "/about/" },
          { title: "Login", href: "/login/" },
      ]
    : [
          { title: "About", href: "/about/" },
          { title: "Dashboard", href: "/dashboard/" },
      ];
---

<div class="flex justify-center items-center">
    <nav class="flex py-4 px-2 w-full max-w-main">
        <div class="flex-1">
            <a href="/">Home</a>
        </div>
        <ul class="flex space-x-4">
            {
                NAVLINKS.map(({ href, title }) => (
                    <li>
                        <a href={href}>{title}</a>
                    </li>
                ))
            }
        </ul>
    </nav>
</div>
