---
import ActionHorizontalDots from "../icons/ActionHorizontalDots";
import ActionVerticalDots from "../icons/ActionVerticalDots";
import LockSecretIcon from "../icons/LockSecretIcon";
import SaveIcon from "../icons/SaveIcon";
import WarningIcon from "../icons/WarningIcon";
---

<section class="p-4 space-y-4 bg-gray-950 border border-gray-800 rounded">
    <header>
        <h2 id="secrets" class="text-2xl">
            <a class="hover:underline" href="#secrets">
                <LockSecretIcon class="h-5 w-5 inline fill-gray-200 mr-1" />
                <span>secrets</span>
            </a>
        </h2>
    </header>
    <section class="space-y-2 pl-2">
        <header>
            <h3 id="create-secret" class="text-xl">
                <a class="text-blue-500 hover:underline" href="#create-secret">
                    How do I create a secret?
                </a>
            </h3>
        </header>
        <div class="space-y-2 p-4 bg-gray-950 border border-gray-600 rounded">
            <p>Prerequistes:</p>
            <ul class="text-sm list-disc space-y-2 pl-6 md:pl-8 md:text-base">
                <li>
                    <a class="text-blue-500 hover:underline" href="#create-project">
                        Create a new project.
                    </a>
                </li>
                <li>
                    <a class="text-blue-500 hover:underline" href="#create-environment">
                        Create a new environment within that project.
                    </a>
                </li>
            </ul>
            <p>Use the form to create a new secret:</p>
            <ul class="text-sm list-disc space-y-2 pl-6 md:pl-8 md:text-base">
                <li>Input a <strong class="underline">key</strong>.</li>
                <li>Input a <strong class="underline">value</strong>.</li>
                <li>
                    Select one or more <strong class="underline">environments</strong> to add the
                    secret key to.
                </li>
                <li>
                    Click the
                    <button
                        class="bg-gray-100 border border-gray-100 text-black fill-black inline rounded p-1 transition hover:bg-gray-300"
                        aria-label="create secret"
                        title="Create Secret"
                    >
                        <SaveIcon class="h-5 w-5 inline" />
                    </button>
                     button to create a secret.
                </li>
            </ul>
        </div>
    </section>
    <section class="space-y-2 pl-2">
        <header>
            <h3 id="edit-secret" class="text-xl">
                <a class="text-blue-500 hover:underline" href="#edit-secret">
                    How do I edit a secret?
                </a>
            </h3>
        </header>
        <div class="space-y-2 p-4 bg-gray-950 border border-gray-600 rounded">
            <p>
                To edit a secret, click on the action button:
                <button aria-label="actions" class="rounded hover:bg-gray-700" type="button">
                    <ActionHorizontalDots class="hidden w-6 h-6 text-white md:inline-block" />
                    <ActionVerticalDots class="inline-block w-6 h-6 text-white md:hidden" />
                </button>
            </p>
            <ul class="text-sm list-disc space-y-2 pl-6 md:pl-8 md:text-base">
                <li>
                    Select the <strong class="underline">Edit</strong> option.
                </li>
            </ul>
            <p>Use the edit secret form to:</p>
            <ul class="text-sm list-disc space-y-2 pl-6 md:pl-8 md:text-base">
                <li>Update the <strong class="underline">key</strong>.</li>
                <li>Update the <strong class="underline">value</strong>.</li>
                <li>
                    Update the selected <strong class="underline">environments</strong>.
                    <span class="text-red-500">
                        If you would like to unshare a secret from a specific environment, then
                        unselect the environment from the list.
                    </span>
                    <li>
                        Click the
                        <button
                            class="bg-gray-100 border border-gray-100 text-black fill-black inline rounded p-1 transition hover:bg-gray-300"
                            aria-label="save secret"
                            title="Save Secret"
                        >
                            <SaveIcon class="h-5 w-5 inline" />
                        </button>
                         button to save and update the secret.
                    </li>
                </li>
            </ul>
        </div>
        <section class="space-y-2 pl-2">
            <header>
                <h3 id="remove-secret" class="text-xl">
                    <a class="text-blue-500 hover:underline" href="#remove-secret">
                        How do I remove a secret?
                    </a>
                </h3>
            </header>
            <div class="space-y-2 p-4 bg-gray-950 border border-gray-600 rounded">
                <p>
                    To remove a secret, click on the action button:
                    <button aria-label="actions" class="rounded hover:bg-gray-700" type="button">
                        <ActionHorizontalDots class="hidden w-6 h-6 text-white md:inline-block" />
                        <ActionVerticalDots class="inline-block w-6 h-6 text-white md:hidden" />
                    </button>
                </p>
                <ul class="text-sm list-disc space-y-2 pl-6 md:pl-8 md:text-base">
                    <li>
                        Select the <strong class="text-red-500 underline">Remove</strong> option.
                    </li>
                </ul>
                <p class="text-red-400 p-2 bg-red-500 bg-opacity-25 rounded">
                    <WarningIcon class="w-6 h-6 inline" /><strong>WARNING</strong>: Any secrets that
                    are shared with other environments will be removed from those environments as
                    well. See
                    <a href="#edit-secret" class="text-blue-400 underline">editing secret</a>
                     for more information on how to unshare a secret.
                </p>
            </div>
        </section>
    </section>
</section>
