---
import LoginForm from "../components/forms/LoginForm";
import MainLayout from "../layouts/main.astro";
import NavBar from "../components/layout/NavBar.astro";
import ProjectList from "../components/layout/ProjectList";
import { fetchAPIGET } from "../utils/fetchAPI";

const sessionToken = Astro.cookies.get("SESSION_TOKEN");
let userName = "";
let projects = [];
try {
    const headers = new Headers();
    headers.append("Cookie", `SESSION_TOKEN=${sessionToken?.value}`);
    const userRes = await fetchAPIGET({
        url: "/loggedin/",
        headers,
    });

    if (!userRes.data?.name) {
        throw new Error("Not logged in!");
    }

    userName = userRes.data.name;

    const projectRes = await fetchAPIGET({
        url: "/projects/",
        headers,
    });

    projects = projectRes.data;
} catch {
    // handle errors below
}
---

<MainLayout description="Dashboard">
    <NavBar userName={userName} slot="navbar" />
    {
        !userName ? (
            <LoginForm client:load reloadPage />
        ) : (
            <>
                <h1 class="text-3xl mb-2">dashboard</h1>
                <ProjectList client:load projects={projects} />
            </>
        )
    }
</MainLayout>
