---
import type { User } from "../types";
import LoginForm from "../components/forms/LoginForm";
import DocumentationIcon from "../components/icons/DocumentationIcon";
import EnvironmentIcon from "../components/icons/EnvironmentIcon";
import LockSecretIcon from "../components/icons/LockSecretIcon";
import ProjectIcon from "../components/icons/ProjectIcon";
import SettingsIcon from "../components/icons/SettingsIcon";
import EnvironmentHelpSection from "../components/layout/EnvironmentHelpSection.astro";
import ProjectHelpSection from "../components/layout/ProjectHelpSection.astro";
import SecretHelpSection from "../components/layout/SecretHelpSection.astro";
import SettingsHelpSection from "../components/layout/SettingsHelpSection.astro";
import NavBar from "../components/layout/NavBar.astro";
import MainLayout from "../layouts/main.astro";
import { fetchAPIGET } from "../utils/fetchAPI";

const sessionToken = Astro.cookies.get("SESSION_TOKEN");
let user: User | null = null;
try {
    const headers = new Headers();
    headers.append("Cookie", `SESSION_TOKEN=${sessionToken?.value}`);
    const res = await fetchAPIGET({
        url: "/loggedin/",
        headers,
    });

    if (!res.data) {
        throw new Error("Not logged in!");
    }

    user = res.data;
} catch {
    // handle errors below
}
---

<MainLayout description="documentation">
    <NavBar email={user?.email} userName={user?.name} slot="navbar" />
    {
        !user?.name ? (
            <LoginForm client:load reloadPage />
        ) : (
            <div class="space-y-6">
                <h1 class="flex items-center text-2xl mb-2 md:text-3xl">
                    <DocumentationIcon class="flex-none w-10 h-10 fill-gray-400 mr-1" />
                    <span>documentation</span>
                </h1>
                <section class="space-y-2">
                    <header>
                        <h2 class="text-2xl">sections</h2>
                    </header>
                    <ul class="pl-4">
                        <li>
                            <a class="text-2xl text-blue-500 hover:underline" href="#settings">
                                <SettingsIcon class="h-5 w-5 inline fill-blue-500 mr-1" />
                                <span>settings</span>
                            </a>
                        </li>
                        <li>
                            <a class="text-2xl text-blue-500 hover:underline" href="#projects">
                                <ProjectIcon class="h-5 w-5 inline fill-blue-500 mr-1" />
                                <span>projects</span>
                            </a>
                        </li>
                        <li>
                            <a class="text-2xl text-blue-500 hover:underline" href="#environments">
                                <EnvironmentIcon class="h-5 w-5 inline fill-blue-500 mr-1" />
                                <span>environments</span>
                            </a>
                        </li>
                        <li>
                            <a class="text-2xl text-blue-500 hover:underline" href="#secrets">
                                <LockSecretIcon class="h-5 w-5 inline fill-blue-500 mr-1" />
                                <span>secrets</span>
                            </a>
                        </li>
                    </ul>
                </section>
                <div class="space-y-8">
                    <SettingsHelpSection />
                    <ProjectHelpSection />
                    <EnvironmentHelpSection />
                    <SecretHelpSection />
                </div>
            </div>
        )
    }
</MainLayout>
