---
import MainLayout from "../layouts/main.astro";
import NavHeader from "../components/layout/NavHeader.astro";
---

<MainLayout
    description="A stand-alone .env file parser for interpolating and assigning multiple .env files into a process."
    title="Home"
>
    <NavHeader slot="navbar" />
    <h1 class="text-3xl font-bold text-center">
        Welcome to the NVI application
    </h1>
</MainLayout>
