---
import ExternalLink from "../components/layout/ExternalLink.astro";
import MainLayout from "../layouts/main.astro";
---

<MainLayout description="privacy policy">
    <h1 class="text-3xl font-bold">PRIVACY POLICY</h1>
    <div class="flex flex-col space-y-4">
        <hr class="my-2" />
        <p>
            This Privacy Policy explains how the nvi platform (collectively, &#34;we,&#34;
            &#34;our,&#34; &#34;us&#34;) and its affiliates use information in operating this
            website and any other online service that displays or provides an authorized link to
            this Privacy Policy (collectively, our &#34;Services&#34;). Please note that this
            Privacy Policy does not apply to the websites, apps, or services of the nvi platform,
            which are governed by the individual privacy policies. By using our Services, you
            consent to the practices described in this Privacy Policy. If you have any questions
            about this Privacy Policy, please contact us using our
            <ExternalLink
                href="https://github.com/mattcarlotta/nvi-app/issues"
                title="contact-us"
            />
             form.
        </p>
        <h2 class="text-2xl">Information We Collect or Receive When You Use Our Services.</h2>
        <p>
            The information we collect and receive is: Information You Provide Directly. We receive
            the information you choose to provide when using our Services. For example, when you
            register for our Services, you may be asked to provide information about yourself
            including: Your name, email address, and an encrypted password when you use of our
            Services. We do not collect nor store any other information via cookies, web beacons,
            nor third party services and technologies. We also do not use the names or email
            addresses submitted in these circumstances for any purpose other than sending an email
            on your behalf, unless we obtain your consent or the recipient&#39;s consent.
        </p>
        <p>
            We also may collect or receive information when you use our Services. We may receive:
            Log information. This is information we automatically collect and store when you use our
            Services. It may include, for example: Information about your interactions with our
            Services, including the content you view, the date on which you accessed our Services,
            and information in similar technologies. Information about how you access our Services,
            including your browser or operating system, and your Internet Protocol (&#34;IP&#34;)
            address. Device information. This is information we automatically collect and store
            concerning the device you use when you access our Services. (Note that by
            &#34;device,&#34; we mean anything you use to access our Services). Device information
            may include, for example: The type of device you are using (e.g., your particular brand
            of phone or tablet); Certain device identifiers which may be unique to your device, your
            Internet Service Provider and location information.
        </p>
        <h2 class="text-2xl">How We Use the Information We Collect or Receive.</h2>
        <p>
            The information we collect and receive is used for the following purposes: To provide
            our Services. We use the information we collect or receive to provide you with the
            Services you use or request. For example, we use this information to: Create accounts;
            Provide technical support and respond to user inquiries; Send you electronic and other
            communications that may be tailored to your preferences and interests; Notify you about
            updates to our Services or send other communications that are relevant to your use of
            our Services; and Enhance our ability to detect and prevent fraud and potentially
            illegal activities in connection with our Services and otherwise enforce our Terms of
            Service.
        </p>
        <h2 class="text-2xl">Cookies.</h2>
        <p>
            Our Services use online technologies called &#34;cookies,&#34; as well as other local
            storage technologies. This section explains what these technologies are and how they may
            &#34;cookies&#34; are text files that are placed in your device&#39;s browser, and that
            can be used to help recognize your browser across different web pages, websites, and
            browsing sessions. Cookies are stored on your device or in &#34;local storage.&#34;.
            Your browser&#39;s privacy controls may enable you to manage other types of local
            storage. Our Services may use cookies or other local storage technologies in combination
            with other information about you to enhance and personalize your experience on our
            Services (or elsewhere online), including: to help authenticate you when you use our
            Services and to remember your preferences.
        </p>
        <h2 class="text-2xl">Security.</h2>
        <p>
            We have adopted physical, technical, and administrative safeguards to help protect
            against theft, loss, misuse, and unauthorized access to or disclosure of the information
            we collect and receive. However, please note that no data transmission or storage can be
            guaranteed to be 100% secure. As a result, while we strive to protect your information
            and privacy, we cannot and do not guarantee or warrant the security of any information
            you disclose or transmit to our Services and cannot be responsible for the theft,
            destruction, or inadvertent disclosure of your information, or any other disclosures out
            of our control. Your online access to some of your information may be protected with a
            password that you select. We strongly recommend that you do not disclose your password
            to anyone. We will never ask you for your password in any unsolicited communication
            (such as letters, phone calls, or email messages).
        </p>
        <h2 class="text-2xl">Changes To This Privacy Policy.</h2>
        <p>
            We may update this Privacy Policy from time to time to reflect changes in our privacy
            practices, so we encourage you to review this Privacy Policy periodically. If we make
            significant changes to this Privacy Policy, we will provide appropriate notice to you.
        </p>
        <br />
        <h2 class="text-2xl font-bold">WARRANTY POLICY</h2>
        <hr class="mb-3" />
        <h3>Disclaimer of Warranties.</h3>
        <p>
            YOUR USE OF THE SERVICES IS ENTIRELY AT YOUR OWN RISK. WE MAKE NO REPRESENTATIONS OR
            WARRANTIES ABOUT THE SERVICES, INCLUDING, WITHOUT LIMITATION, THE OPERATION OF THE
            SERVICES OR THE INFORMATION, MATERIALS, GOODS, OR SERVICES APPEARING OR OFFERED ON THE
            SERVICES OR WITH RESPECT TO ANY WEBSITES OR SERVICES LINKED FROM THE SERVICES. THE
            SERVICES ARE PROVIDED &#34;AS IS&#34;, &#34;WITH ALL FAULTS,&#34; AND &#34;AS
            AVAILABLE.&#34; WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, WE DISCLAIM ALL
            WARRANTIES AND CONDITIONS, EXPRESS, STATUTORY, OR IMPLIED, INCLUDING BUT NOT LIMITED TO
            (I) THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, WORKMANLIKE
            EFFORT, TITLE, QUIET ENJOYMENT, NO LIENS, AND NO ENCUMBRANCES; (II) THE WARRANTIES
            AGAINST INFRINGEMENT, MISAPPROPRIATION, OR VIOLATION OF ANY INTELLECTUAL PROPERTY OR
            PROPRIETARY RIGHTS OF ANY PERSON; AND (III) THE WARRANTIES RELATING TO THE ACCURACY,
            RELIABILITY, CORRECTNESS, OR COMPLETENESS OF DATA OR CONTENT MADE AVAILABLE ON THE
            SERVICES OR OTHERWISE BY THE NVI PLATFORM. FURTHER, THERE IS NO WARRANTY THAT THE
            SERVICES WILL MEET YOUR NEEDS OR REQUIREMENTS OR THE NEEDS OR REQUIREMENTS OF ANY OTHER
            PERSON OR THE NEEDS OR REQUIREMENTS SET FORTH IN ANY DOCUMENTATION. WE MAKE NO
            WARRANTIES, EXPRESS, STATUTORY, OR IMPLIED, THAT THE SERVICES, INCLUDING, WITHOUT
            LIMITATION, THE NVI PLATFORM CONTENT, FUNCTIONS, OR MATERIALS CONTAINED THEREIN, WILL BE
            TIMELY, SECURE, ACCURATE, ERROR-FREE, COMPLETE, UP-TO-DATE, FREE OF VIRUSES, OR
            UNINTERRUPTED. THE NVI PLATFORM NO REPRESENTATION THAT THE SERVICES ARE APPROPRIATE OR
            AVAILABLE FOR USE OUTSIDE OF THE UNITED STATES. NO ORAL OR WRITTEN INFORMATION MADE
            AVAILABLE BY OR ON BEHALF OF THE NVI PLATFORM SHALL CREATE ANY WARRANTY. IF APPLICABLE
            LAW DOES NOT ALLOW THE EXCLUSION OF SOME OR ALL OF THE ABOVE IMPLIED OR STATUTORY
            WARRANTIES TO APPLY TO YOU, THE ABOVE EXCLUSIONS WILL APPLY TO YOU TO THE FULLEST EXTENT
            PERMITTED BY APPLICABLE LAW.
        </p>
        <br />
        <h2 class="text-2xl font-bold">CONTACT US</h2>
        <hr class="mb-3" />
        <p>
            If you have any questions about this Privacy and/or Warranty Policy or any of our
            practices, please contact us by using the
            <ExternalLink
                href="https://github.com/mattcarlotta/nvi-app/issues"
                title="contact-us"
            />
             form.
        </p>
    </div>
</MainLayout>
