---
import SuccessIcon from "../components/icons/SuccessIcon";
import ResendAccountVerificationEmailForm from "../components/forms/ResendAccountVerificationEmailForm";
import MainLayout from "../layouts/main.astro";
import { fetchAPIPATCH } from "../utils/fetchAPI";

const token = Astro.url.searchParams.get("token") || "";
let message = "";
try {
    const res = await fetchAPIPATCH({
        url: `/verify/account/?token=${token}`,
    });

    message = res.message || "Your email address is already verified.";
} catch {
    // handle errors below
}
---

<MainLayout
    description={message ? "successfully verified account" : "account verification failed"}
    paddingTop
>
    <div class="flex flex-col items-center justify-center">
        <div class="flex flex-col items-center space-y-4 w-full max-w-xl p-8 bg-gray-900 rounded">
            {
                message ? (
                    <>
                        <SuccessIcon class="w-20 h-20 fill-green-500" />
                        <h1 class="text-2xl font-bold text-center">{message}</h1>
                        <h2 class="text-lg">
                            <a class="text-blue-500 hover:underline" href="/login/">
                                When you&apos;re ready, feel free to login
                            </a>
                        </h2>
                    </>
                ) : (
                    <ResendAccountVerificationEmailForm client:load />
                )
            }
        </div>
    </div>
</MainLayout>
