---
import DashboardLayout from "../../layouts/dashboard.astro";
import { fetchAPIGET } from "../../utils/fetchAPI";

const token = Astro.cookies.get("SESSION_TOKEN")?.value;
if (!token) {
    return Astro.redirect("/login");
}

let loggedinUserName = "";
try {
    const res = await fetchAPIGET({
        url: "/loggedin",
        token,
    });

    loggedinUserName = res.name;
} catch (e) {
    return Astro.redirect("/login");
}
---

<DashboardLayout user={loggedinUserName} description="Dashboard">
    <h1 class="text-5xl">Dashboard</h1>
</DashboardLayout>
